.navbar {
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    height: 60px;
    background-color: #212121;
    color: #DEDEDE;
    transition: top 0.5s;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    z-index: 50;
    flex-direction: row;
}

.hide {
    top: -80px;
}

.navbar ul.navlinks {
    display: inline-flex;
    flex-direction: row;
    flex-flow: nowrap;
    white-space: nowrap;
    margin-inline-end: 100px;
    margin-top: 20px;
    list-style-type: none;
}

.navbar .navlinks li {
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
}
  
.navbar .navlinks li a {
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    color: #DEDEDE;
    padding-right: 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.navbar .navlinks li a:hover {
    color: #2BD9FF;
}

.toggle {
    display: inline-flex;
    margin-inline-start: 14%;
    padding-top: 20px;
}

@media only screen and (max-width: 1000px) {
    .navbar ul li {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .toggle {
        display: none;
    }
}