.loadingnumber {
    color: white;
    text-align: center;
    width: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin-left: -2.5%;
    margin-top: -0.75%;
}

.loadingbar {
    border: 1px solid white;
    color: black;
    width: 30%;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -15%;
    text-align: center;
    z-index: 0;
}

.loading {
    z-index: 1;
    background-color: #2BD9FF;
    height: 100%;
}
